<ion-header>
  <ion-navbar>
    <button *ngIf="showMenuBtn" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Live Tracking
      <span *ngIf="titleText">For {{titleText}}</span>
    </ion-title>
    <ion-buttons end *ngIf="showBtn">
      <button ion-button (click)="ngOnInit()">All Vehicles</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item *ngIf="!titleText">
    <ion-label>{{SelectVehicle}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="signleVehLiveTrack(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <div id="map_canvas">
    <ion-fab top left>
      <button ion-fab color="light" mini (click)="onClickMainMenu()">
        <ion-icon color="gpsc" name="map"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="onClickMap('SATELLITE')" color="gpsc">
          S
        </button>
        <button ion-fab (click)="onClickMap('TERRAIN')" color="gpsc">
          T
        </button>
        <button ion-fab (click)="onClickMap('NORMAL')" color="gpsc">
          N
        </button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab top right *ngIf="selectedVehicle == undefined">
      <button ion-fab mini (click)="onSelectMapOption('mapHideTraffic')" color="{{mapHideTraffic ? 'light' : 'gpsc'}}">
        <ion-icon name="walk" color="{{mapHideTraffic ? 'dark-grey' : 'black'}}"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab *ngIf="selectedVehicle != undefined"
      style="right: calc(10px + env(safe-area-inset-right)); margin-top:49%">
      <button ion-fab mini (click)="reloadmap()" color="gpsc">
        <ion-icon name="refresh" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab *ngIf="selectedVehicle != undefined"
      style="right: calc(10px + env(safe-area-inset-right)); margin-top:61%">
      <button ion-fab mini (click)="showRoute()" color="{{colorObj}}">
        <ion-icon name="flag" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 73%">
      <button ion-fab mini (click)="zoomin()" color="gpsc">
        <ion-icon name="add" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top: 85%">
      <button ion-fab mini (click)="zoomout()" color="gpsc">
        <ion-icon name="remove" color="black"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab top right *ngIf="selectedVehicle != undefined">
      <button ion-fab mini (click)="onClickMapMenu()" color="light">
        <ion-icon name="arrow-dropdown-circle" color="gpsc"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="onSelectMapOption('mapHideTraffic')" color="{{mapHideTraffic ? 'light' : 'gpsc'}}">
          <ion-icon name="walk" color="{{mapHideTraffic ? 'dark-grey' : 'black'}}"></ion-icon>
        </button>
        <button ion-fab *ngIf="showShareBtn" (click)="shareLive($event)" color="gpsc">
          <ion-icon name="share" color="black"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>

  </div>

</ion-content>
<ion-footer *ngIf="onClickShow">
  <ion-toolbar color="light-grey">
    <ion-row style="letter-spacing: 0.8px">
      <ion-col col-6>
        <ion-row>
          <ion-col col-3 style="text-align: center">
            <img src="assets/imgs/speedometer.png" style="width:60%; height: auto;">
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 (click)="dialNumber(8956628472)"
                style="font-size: 3.5vw; padding-top: 3px; padding-left: 0px; padding-right: 5px;">
                <b>{{vehicle_speed}} km(s)/h</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3 style="text-align: center">
            <img src="assets/imgs/road.png" style="width:60%; height: auto;">
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12
                style="font-size: 3.5vw; padding-top: 3px; padding-left: 0px; padding-right: 5px; overflow: hidden;">
                <b>{{todays_odo | number : '1.0-2'}} km(s)</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <!-- <ion-toolbar color="gpsc">
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/milestone-png-1.png" width="30" height="34" style="margin-top: 5%">
          </ion-col>
          <ion-col col-9 style="text-align: left;">
            <p style="color:#ffffff; font-size: 1em;">&nbsp;&nbsp;{{todays_odo | number : '1.0-2'}} km</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <ion-icon name="speedometer" style="color:khaki; font-size:3.2em"></ion-icon>
          </ion-col>
          <ion-col col-9 style="text-align: left;">
            <p style="color:#ffffff; font-size: 1em;">&nbsp;&nbsp;{{vehicle_speed}} km/h</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/img_466583.png" width="40" height="35" style="margin-top: 5%">
          </ion-col>
          <ion-col col-9 style="text-align: left;">
            <p style="color:#ffffff; font-size: 1em;">&nbsp;&nbsp;{{selectedVehicle.Device_Name}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <ion-icon name="time" style="font-size: 3.1em; color:gold"></ion-icon>
          </ion-col>
          <ion-col col-9 style="text-align: left;">
            <p style="color:#ffffff; font-size: 1em;">&nbsp;&nbsp;{{last_ping_on | date:'short'}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar> -->

</ion-footer>