<ion-header>
  <ion-navbar>
    <ion-title>Live For {{titleText}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="reloadmap()">
        <ion-icon name="refresh" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="map_canvas_single_device">
    <ion-row>
      <ion-col>
        <ion-fab top left>
          <button ion-fab color="light" mini (click)="onClickMainMenu()">
            <ion-icon color="gpsc" name="map"></ion-icon>
          </button>
          <ion-fab-list side="bottom">
            <button ion-fab (click)="onClickMap('SATELLITE')" color="gpsc">
              S
            </button>
            <button ion-fab (click)="onClickMap('TERRAIN')" color="gpsc">
              T
            </button>
            <button ion-fab (click)="onClickMap('NORMAL')" color="gpsc">
              N
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

    <!-- <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:23%">
      <button ion-fab mini (click)="showRoute()" color="gpsc">
        <ion-icon name="flag" color="black"></ion-icon>
      </button>
    </ion-fab> -->
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:23%">
      <button ion-fab mini (click)="showRoute()" color="{{colorObj}}">
        <ion-icon name="flag" color="black"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:36%">
      <button ion-fab mini (click)="onSelectMapOption('mapHideTraffic')" color="{{mapHideTraffic ? 'light' : 'gpsc'}}">
        <ion-icon name="walk" color="{{mapHideTraffic ? 'dark-grey' : 'black'}}"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:49%">
      <button ion-fab mini *ngIf="showShareBtn" (click)="shareLive($event)" color="gpsc">
        <ion-icon name="share" color="black"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:62%">
      <button ion-fab mini (click)="zoomin()" color="gpsc">
        <ion-icon name="add" color="black"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab style="right: calc(10px + env(safe-area-inset-right)); margin-top:75%">
      <button ion-fab mini (click)="zoomout()" color="gpsc">
        <ion-icon name="remove" color="black"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="light-grey">
    <ion-row style="letter-spacing: 0.8px">
      <ion-col col-6>
        <ion-row>
          <ion-col col-3 style="text-align: center">
            <img src="assets/imgs/speedometer.png" style="width:60%; height: auto;">
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 (click)="dialNumber(8956628472)"
                style="font-size: 3.5vw; padding-top: 3px; padding-left: 0px; padding-right: 5px;">
                <b>{{vehicle_speed}} km(s)/h</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3 style="text-align: center">
            <img src="assets/imgs/road.png" style="width:60%; height: auto;">
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12
                style="font-size: 3.5vw; padding-top: 3px; padding-left: 0px; padding-right: 5px; overflow: hidden;">
                <b>{{todays_odo | number : '1.0-2'}} km(s)</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>