<ion-header>
    <ion-navbar>
        <ion-title>Trip Review</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div id="trip_map_canvas">
        <ion-fab top right>
            <button ion-fab mini (click)="onShare()" color="gpsc">
                <ion-icon name="share" color="black"></ion-icon>
            </button>
        </ion-fab>
    </div>
</ion-content>

<ion-footer class="footSty">

    <ion-row style="background-color: #dfdfdf; padding: 0px !important;">
        <ion-col width-50 style="padding: 0px">
            <p style="color:black;font-size:14px; text-align:center;">
                <ion-icon name="time" style="color:#33cd5f;font-size:15px;"></ion-icon>&nbsp;
                <span *ngIf="updatetimedate">{{updatetimedate}}&nbsp;</span>
                <span *ngIf="!updatetimedate">0:0&nbsp;</span>
            </p>
        </ion-col>

        <ion-col width-50 style="padding: 0px">
            <p style="color:black;font-size:14px;text-align:center;">
                <ion-icon name="speedometer" style="color:#cd4343"></ion-icon>&nbsp;
                <span *ngIf="speedMarker">{{speedMarker}}&nbsp;Km/hr</span>
                <span *ngIf="!speedMarker">0&nbsp;Km/hr</span>
            </p>
        </ion-col>
    </ion-row>

    <ion-toolbar>
        <div style="text-align: center;">
            <button ion-button clear>
                <ion-icon color="light" name="rewind" style="font-size:26px;margin-right: 17px" (click)="inter('slow')"></ion-icon>
                <ion-icon color="light" name="arrow-dropright-circle" style="font-size:26px;margin-right: 15px" class="play" *ngIf="!playing"
                    (click)="Playback()"></ion-icon>
                <ion-icon color="light" name="pause" style="font-size:26px;margin-right: 15px" class="pause" *ngIf="playing" (click)="Playback()"></ion-icon>
                <ion-icon color="light" name="fastforward" style="font-size:26px;margin-right: 17px" (click)="inter('fast')"></ion-icon>
            </button>
        </div>
    </ion-toolbar>
</ion-footer>