.ios, .md, .wp {

    .select-searchable {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-width: 45%;
        font-size: 12px;
        // padding-bottom: 12px;
        }
        .select-searchable-value {
        // -webkit-box-flex: 1;
        // -webkit-flex: 1;
        // -ms-flex: 1;
        // flex: 1;
        padding-top: 13px;
        padding-bottom: 13px;
        // overflow: hidden;
        margin-top: 3%;
        }

// ============ to change date picker format ============//
    
.toolbar .searchbar-ios .searchbar-input {
    background: #fff;
}
    
side-menu-content{
    // background-image: linear-gradient(to right top, #d80622, #c0002d, #a60033, #8b0935, #6f1133);
    background-image: linear-gradient(to right top, #dd7530, #cf6f29, #c16922, #b3631b, #a65d14);
    // background-image: linear-gradient(to right top, #5694ce, #9884cf, #d36eae, #ed6373, #dd7530);
    background-repeat:no-repeat;
    .item > ion-icon, .item-inner > ion-icon {
        min-height: 2rem;
        font-size: 2rem;
        line-height: 1;
    }
}
side-menu-content ion-item.item-ios.item.item-block, side-menu-content ion-item.item-md.item.item-block, side-menu-content ion-item.item-wp.item.item-block {
    border-bottom: 1px solid #717775;
    background: transparent;
    color: white;
    font-size: 1em;
}

#outerNew{
    // background: url("../assets/imgs/tendencias-en-innovacion-tecnologica-y-proptechs-inmobiliarias-533x337xsmart-cities-opt.jpg.pagespeed.ic_.zsvuwxwqfv-2018-03-02_12-58-50_266848.jpg") no-repeat center center;
    // background: #f53d3d;
    // background-image: linear-gradient(to right top, #d80622, #c0002d, #a60033, #8b0935, #6f1133);
    background-image: linear-gradient(to right top, #dd7530, #cf6f29, #c16922, #b3631b, #a65d14);
    // background-image: linear-gradient(to right top, #5694ce, #9884cf, #d36eae, #ed6373, #dd7530);
    background-repeat:no-repeat;
    background-size:cover;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;
    // color: white;
}
.toolbarmd {
    // .toolbar-md {
    //     padding: 4px;
        min-height: 38px;
    // }
}

ion-header {
    .toolbar-background {
        // background: linear-gradient(to left bottom, #d80622, #c0002d, #a60033, #8b0935, #6f1133);
        // background-image: linear-gradient(to right top, #5694ce, #9884cf, #d36eae, #ed6373, #dd7530);
        background-image: linear-gradient(to right top, #dd7530, #cf6f29, #c16922, #b3631b, #a65d14);
        // background: linear-gradient(135deg, $header-first-color 0%, $header-last-color 100%);
    }
    .toolbar-title-md,
    .toolbar-title-ios {
        color: #fff;
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #fff;
    }

    .bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
        color: #fff;
    }
    
}

.EditIcon {
    ion-icon{
        color: 'red';
    }
 }

.footSty {
    background: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
    .toolbar-background {
        background: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
    }
    .toolbar-md,
    .toolbar-ios {
        padding: 0px;
        min-height: 45px;
    }
}

.headProf {
    // background: url('../assets/imgs/1.jpg');
    background-image: linear-gradient(to left top, #1a1b1c, #2a2b2d, #3d3b3e, #514c4f, #665e5f);
    text-align: center;
    padding: 10px;
    color:#f0f0f0;

    img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
}
.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contact-popover .popover-content{ width: 120px; }
.iosPop-popover .popover-content{ width: 320px; }
// .popover-ios .popover-content {
//     width: 230px;
 
// }

}
