<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stoppages Report</ion-title>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;" *ngIf="portstemp.length != 0">
    <ion-label style="margin-top: 15px;">Select Vehicle</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
      [canSearch]="true" (onChange)="getStoppagesdevice(datetimeStart, datetimeEnd, selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">From Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20 padding-left>
      <ion-label>
        <span style="font-size: 13px">To Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getStoppageReport(datetimeStart,datetimeEnd);"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content [ngClass]="{ 'masters': portstemp.length != 0,'masters1': portstemp.length == 0 }">

  <ion-card *ngFor="let stopdata of Stoppagesdata ">

    <ion-item style="border-bottom: 2px solid #dedede;">
      <ion-avatar item-start>
        <img src="assets/imgs/car_red_icon.png">
      </ion-avatar>
      <ion-row>
        <ion-col col-8>
          <p style="color:gray;font-size:13px;">{{stopdata.device}}</p>
        </ion-col>
        <ion-col col-4>
          <p>
            <span style="font-size:12px;color:#d40e0e">{{stopdata.Durations}} Min&nbsp;</span>
            <span>&nbsp;</span>
          </p>
        </ion-col>
      </ion-row>
      <br/>
      <ion-row style="padding-left: 4px">
        <ion-col col-6>
          <p style="font-size: 11px;">
            <ion-icon ios="ios-time" md="md-time" style="color:#5edb82"></ion-icon>
            {{stopdata.arrival_time | date: 'short'}}
          </p>
        </ion-col>
        <ion-col col-6>
          <p style="font-size: 11px;">
            <ion-icon ios="ios-time" md="md-time" style="color:#ee7272;"></ion-icon>
            {{stopdata.departure_time | date: 'short'}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row style="padding-left: 4px; padding-top:4px">
        <p style="font-size: 14px;">
          <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;"></ion-icon>&nbsp;
          <span *ngIf="stopdata.address" style="color:gray;font-size:11px;font-weight: 400;">{{stopdata.address}}</span>
          <span *ngIf="!stopdata.address">&nbsp;N/A</span>
        </p>
      </ion-row>
    </ion-item>
  </ion-card>

</ion-content>