<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- <ion-card>
        <ion-card-header style="background: brown; color: white;">
          Customer support contacts
        </ion-card-header>
        <ion-card-content padding-top>
    
          <ion-icon ios="ios-call" md="md-call" style="color:#33cd5f;" (click)="dialSupportNumber()"></ion-icon>
          &nbsp;&nbsp;
          <a href="tel:+91-9028045389">
            <span ion-text style="font-size: 16px;">+91 9028045389</span>
          </a>
          <br/>
    
          <ion-icon ios="ios-mail" md="md-mail" style="color:red;" (click)="dialSupportNumber()"></ion-icon>&nbsp;&nbsp;
          <a href="mailto:poonam.g@processfactory.in">
            <span ion-text style="font-size: 16px;">poonam.g@processfactory.in</span>
          </a>
        </ion-card-content>
      </ion-card> -->

  <form class="form" [formGroup]="contactusForm">
    <p type="Name:">
      <input formControlName="name" type="text" placeholder="Write your name here.." />
    </p>
    <span class="span" *ngIf="!contactusForm.controls.name.valid && (contactusForm.controls.name.dirty || submitAttempt)">Name is required and should be in valid format!</span>
    <p type="Email:">
      <input formControlName="mail" type="email" placeholder="Let us know how to contact you back.." />
    </p>
    <span class="span" *ngIf="!contactusForm.controls.mail.valid && (contactusForm.controls.mail.dirty || submitAttempt)">Email id is required and should be in valid format!</span>
    <p type="Mobile Num.:">
      <input formControlName="mobno" type="number" maxlength="10" minlength="10" placeholder="Let us know how to contact you back via mobile number.." />
    </p>
    <span class="span" *ngIf="!contactusForm.controls.mobno.valid && (contactusForm.controls.mobno.dirty || submitAttempt)">Mobile number is required and should be in 10 digits format!</span>
    <p type="Message:">
      <textarea rows="2" cols="50" formControlName="note" placeholder="What would you like to tell us.."></textarea>
      <!-- <textarea cols="4" formControlName="note" type="text" placeholder="What would you like to tell us.." /> -->
    </p>
    <span class="span" *ngIf="!contactusForm.controls.note.valid && (contactusForm.controls.note.dirty || submitAttempt)">please write your message!</span>
    <button (tap)="contactUs()">Send Message</button>

    <!-- <div class="div">
      <ion-icon name="call"></ion-icon> +91-9028045389
      <ion-icon name="mail"></ion-icon> support@oneqlik.in
      <ion-icon name="call"></ion-icon>
      <a href="tel:+91-9028045389" style="color: white">+91-9028045389</a>
      <ion-icon name="mail"></ion-icon>
      <a href="mailto:poonam.g@processfactory.in" style="color: white">poonam.g@processfactory.in</a>
    </div> -->
  </form>

</ion-content>