<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Geofence Report</ion-title>
    </ion-navbar>
    <ion-item style="background-color: #fafafa;">
        <ion-label style="margin-top: 15px;">Select Geofence</ion-label>
        <select-searchable item-content [(ngModel)]="selectedGeofence" [items]="geofencelist" itemValueField="geoname" itemTextField="geoname"
            [canSearch]="true" (onChange)="getGeofencedata(datetimeStart, datetimeEnd, selectedGeofence)">
        </select-searchable>
    </ion-item>


    <ion-row style="background-color: #fafafa;" padding-left padding-right>
        <ion-col width-20>

            <ion-label>
                <span style="font-size: 13px">From Date</span>
                <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
                    style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
            </ion-label>
        </ion-col>

        <ion-col width-20>
            <ion-label>
                <span style="font-size: 13px">To Date</span>
                <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
                    style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
            </ion-label>
        </ion-col>

        <ion-col width-20>
            <div style="margin-top: 9px; float: right">
                <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getGeofenceReport(datetimeStart,datetimeEnd);"></ion-icon>
            </div>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content>

    <ion-list>
        <ion-card *ngFor="let item of geofenceRepoert">

            <ion-item style="border-bottom: 2px solid #dedede;">
                <ion-avatar item-start>
                    <!-- <img src="assets/imgs/car_red_icon.png" > -->
                    <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                    <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                    <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">

                    <!-- <img src="assets/imgs/truck_icon_red.png"  *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/truck_icon_green.png"  *ngIf="(item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/truck_icon_grey.png"  *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))"> -->

                    <img src="assets/imgs/truck_icon_red.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                    <img src="assets/imgs/truck_icon_green.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                    <img src="assets/imgs/truck_icon_grey.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">

                    <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                    <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                    <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">

                    <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                    <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                    <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">

                    <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                    <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                    <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">
                    <!--  </ion-thumbnail>

            <ion-thumbnail item-start *ngIf="item.device != null && item.device.iconType == null">
                <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/truck_icon_red.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/truck_icon_green.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/truck_icon_grey.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">
            </ion-thumbnail>

            <ion-thumbnail item-start *ngIf="item.device == null && item.device.iconType != null">
                <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/truck_icon_red.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/truck_icon_green.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/truck_icon_grey.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">

                <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))"> -->

                </ion-avatar>
                <ion-row>
                    <ion-col col-8>
                        <p style="color:gray;font-size:13px;">{{item.vehicleName}}</p>
                    </ion-col>

                    <ion-col col-4>

                        <p *ngIf="item.direction=='In'">
                            <span style="font-size:12px;">{{item.direction}}&nbsp;</span>
                            <ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down" style="color:#ee7272"></ion-icon>
                            &nbsp;
                        </p>
                        <p *ngIf="item.direction=='Out'">
                            <span style="font-size:12px;">{{item.direction}}&nbsp;</span>
                            <ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up" style="color:#5edb82"></ion-icon>&nbsp;
                        </p>
                    </ion-col>
                </ion-row>

                <ion-row style="padding-top:13px;">

                    <p>
                        <ion-icon ios="ios-time" md="md-time" style="font-size:11px;"></ion-icon>&nbsp;
                        <span style="font-size:11px;">{{item.timestamp | date: 'medium'}}</span>
                    </p>

                </ion-row>

                <ion-row>

                    <p>
                        <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:13px;"></ion-icon>&nbsp;

                        <span *ngIf="!item.address">&nbsp;N/A</span>
                        <span *ngIf="item.address" style="color:gray;font-size:11px;font-weight: 400;">{{item.address}}</span>
                    </p>

                </ion-row>
            </ion-item>

        </ion-card>
    </ion-list>
</ion-content>