page-device-settings {
    background-color: rgba(0, 0, 0, 0.7);
    ion-content.content{
        top: 12%;
        left: 10%;
        width: 80%;
        // height: calc(100% - 8px - 8px);
        height: 70%;
        border-radius: 20px;
        .scroll-content {
            border-radius: 20px;
        }
    }
    .close-button {
        position: absolute;
        z-index: 1;
        top: 11%;
        right: 0;
        border: 0;
        padding: 5px 2px;
        font-size: 3rem;
    }

    .range-md,
    .range-ios {
        padding: 0px;
    }

    .label-md {
        /* margin: 13px 8px 13px 0; */
        margin: 0px;
    }

    ion-input{
        border-bottom: 2px solid gray;

        .text-input-md {
            /* margin: 13px 8px; */
            margin: 0;
            padding: 0;
            width: calc(100% - 8px - 8px);
        }
    }


}
